<div class="car-slider-container">
    <div class="car-wrapper">
      <img src="assets/images/car1.png" class="car-img" alt="Carro frontal" />
  
      <!-- NUEVA TARJETA flotante -->
      <div class="package-details-float">
        <h1 class="service-number">#1</h1>
        <h4 class="title">Hand to Hand </h4>
        <ul>
          <li>Regular wash</li>
          <li>Wheel brite</li>
          <li>Sealer wax</li>
          <li>Triple-foam</li>
          <li>Under body treatment</li>
        </ul>
      </div>
    </div>
  </div>
  